<div class="close" onclick="closePopLogin()">+</div>
<!-- <iframe name="dummyframe" id="dummyframe" style="display: none;" ></iframe> -->
<form class="formLogin" enctype=multipart/form-data method="post" action="javascript:formUpdCategoria()">

  <b>
    <p class="error" style="color:red"></p>
  </b>
  <b>
    <p class="success" style="color:green"></p>
  </b>

  <div class="enderecoBox">
    <input type="text" name="id" value="{{ categoria.id }}" style="display: none;">
    <p class="">
      <input id="email_login" value="{{ categoria.nome }}" style="margin-left: 50%;" name="categoria" required="required" type="text" placeholder="Categoria" />
    </p>
  </div>

  <p>
    <input id="logar" type="submit" value="Cadastrar categoria" />
  </p>

</form>