<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo %}{% endblock %}</title>
  <script src="https://kit.fontawesome.com/763d136b89.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'favicon.png') }}" />
  <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->

  <!--===============================================================================================-->

  <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}" />
  <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
  <link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/jquery-cookie/src/jquery.cookie.js"></script>
  <script type="text/javascript">
    {% block js %}

    {% endblock %}
  </script>
  <script type="text/javascript">

    $(document).ready(function () {


      $(".btnTrash").click(function () {
        idControle = $(this)[0].id
        $.ajax({
          url: '/deletarEndereco',
          type: 'post',
          data: { id: idControle },
          success: function (data) {
            window.location.reload();
          }
        });

      });

      $('.filterStatus').change(function () {
        $.ajax({
          url: '/addPedidosContainer',
          type: 'post',
          data: { id: $(this).val() },
          success: function (data) {
            $('.tableDinamic').html(data);
            $('.tableDinamic').append(data.htmlresponse);
          }
        });
      });



      $(".btnDelProduto").click(function () {
        idControle = $(this)[0].id
        if (window.confirm("Você realmente quer deletar?")) {
          $.ajax({
            url: '/deletarProduto',
            type: 'post',
            data: { id: idControle },
            success: function (data) {
              alert(data.message)
              window.location.reload();
            }
          });
        }
      });

      $(".btnDelCategoria").click(function () {
        idControle = $(this)[0].id
        if (window.confirm("Você realmente quer deletar?")) {
          $.ajax({
            url: '/deletarCategoria',
            type: 'post',
            data: { id: idControle },
            success: function (data) {
              alert(data.message)
              window.location.reload();
            },
            error: function (data) {
              data = data.responseJSON
              alert(data.message)
            }
          });
        }
      });

      $(document).on('change', ".changeStatusPedido", function () {
        if (window.confirm("Você realmente quer alterar os status?")) {
          $.ajax({
            url: '/alterarStatusPedido',
            type: 'post',
            data: { id: $(this)[0].id, idStatus: $(this).val() },
            success: function (data) {
              alert(data.message)
              window.location.reload();
            }
          });
        }
      })

      $(document).on('change', ".without_ampm", function () {
        var time = $(this).val();
        var hours = Number(time.match(/^(\d+)/)[1]);
        var minutes = Number(time.match(/:(\d+)/)[1]);
        var AMPM = time.match(/\s(.*)$/)[1];
        if (AMPM == "PM" && hours < 12) hours = hours + 12;
        if (AMPM == "AM" && hours == 12) hours = hours - 12;
        var sHours = hours.toString();
        var sMinutes = minutes.toString();
        if (hours < 10) sHours = "0" + sHours;
        if (minutes < 10) sMinutes = "0" + sMinutes;
        alert(sHours + ":" + sMinutes);
      })

      $(document).on('click', ".buttonDetalhesPedido", function () {
        idControle = $(this)[0].id
        strControle = "#" + idControle + ".conteudoDetalhe"
        strControleExpand = "#" + idControle + ".conteudoDetalhe.expand"

        strBtn = "#" + idControle + ".buttonDetalhesPedido"

        controle = $(strControleExpand)
        if (controle.length == 1) {
          descricao = $(strControleExpand)
          descricao.removeClass('expand')
          descricao.css('max-height', '0px')
          descricaobutton = $(strBtn)
          descricaobutton.text("Ver detalhes do pedido")
        } else {

          descricao = $(strControle)
          descricao.addClass('expand')
          descricao = $(strControleExpand)
          descricao.css('max-height', 'var(--originalHeight)')
          descricaobutton = $(strBtn)
          descricaobutton.text("Ocultar detalhes do pedido")

        }
      });
      $(".btnUpdProduto").click(function () {
        idControle = $(this)[0].id
        $.ajax({
          url: '/telaUpdateProduto',
          type: 'post',
          data: { id: idControle },
          success: function (data) {
            $('.modal-content-login').html(data);
            $('.modal-content-login').append(data.htmlresponse);
            $('.bg-modal-login').css('display', 'block');
            $('.bg-modal-login').css('position', 'fixed');
          }
        });
      });

      $(".btnUpdCategoria").click(function () {
        idControle = $(this)[0].id
        $.ajax({
          url: '/telaUpdateCategoria',
          type: 'post',
          data: { id: idControle },
          success: function (data) {
            $('.modal-content-login').html(data);
            $('.modal-content-login').append(data.htmlresponse);
            $('.bg-modal-login').css('display', 'block');
            $('.bg-modal-login').css('position', 'fixed');
          }
        });
      });



    });

    $(document).on(function () {
      $(".buttonDetalhesPedido").click(function () {

        idControle = $(this)[0].id
        strControle = "#" + idControle + ".conteudoDetalhe"
        strControleExpand = "#" + idControle + ".conteudoDetalhe.expand"

        strBtn = "#" + idControle + ".buttonDetalhesPedido"

        controle = $(strControleExpand)
        if (controle.length == 1) {
          descricao = $(strControleExpand)
          descricao.removeClass('expand')
          descricao.css('max-height', '0px')
          descricaobutton = $(strBtn)
          descricaobutton.text("Ver detalhes do pedido")
        } else {

          descricao = $(strControle)
          descricao.addClass('expand')
          descricao = $(strControleExpand)
          descricao.css('max-height', 'var(--originalHeight)')
          descricaobutton = $(strBtn)
          descricaobutton.text("Ocultar detalhes do pedido")

        }
      });
    });

    $(document).delegate(function () {
      $(".buttonDetalhesPedido").click(function () {

        idControle = $(this)[0].id
        strControle = "#" + idControle + ".conteudoDetalhe"
        strControleExpand = "#" + idControle + ".conteudoDetalhe.expand"

        strBtn = "#" + idControle + ".buttonDetalhesPedido"

        controle = $(strControleExpand)
        if (controle.length == 1) {
          descricao = $(strControleExpand)
          descricao.removeClass('expand')
          descricao.css('max-height', '0px')
          descricaobutton = $(strBtn)
          descricaobutton.text("Ver detalhes do pedido")
        } else {

          descricao = $(strControle)
          descricao.addClass('expand')
          descricao = $(strControleExpand)
          descricao.css('max-height', 'var(--originalHeight)')
          descricaobutton = $(strBtn)
          descricaobutton.text("Ocultar detalhes do pedido")

        }
      });
    });

    function controlDetail() {




    }


    function floatConvert() {

      var num = parseFloat($(".precoProduto").val()).toFixed(2)
      $(".precoProduto").val(num)

    }

    function closePopLogin() {
      document.querySelector('.bg-modal-login').style.display = "none";
    }

    function login() {
      $.ajax({
        url: '/login',
        type: 'post',
        data: { login: "login" },
        success: function (data) {
          $('.modal-content-login').html(data);
          $('.modal-content-login').append(data.htmlresponse);
          $('.bg-modal-login').css('display', 'block');
          $('.bg-modal-login').css('position', 'fixed');
        }
      });
    }

    function getVal() {
      const val = document.querySelector('input').value;
      endpoint = 'https://viacep.com.br/ws/' + val + '/json/'
      $.ajax({
        url: endpoint,
        type: 'get',
        success: function (data) {
          $('#email_login.enderecoInput').val(data.logradouro);
          $('#email_login.bairroInput').val(data.bairro);
          $('#email_login.estadoInput').val(data.localidade);
        },
        error: function () {
          $('#email_login.enderecoInput').val("");
          $('#email_login.bairroInput').val("");
          $('#email_login.estadoInput').val("");
          alert("CEP Inválido")
        }
      });
    }

    function addEndereco() {
      $.ajax({
        url: '/addTelaEndereco',
        type: 'post',
        success: function (data) {
          $('.modal-content-login').html(data);
          $('.modal-content-login').append(data.htmlresponse);
          $('.bg-modal-login').css('position', 'fixed');
          $('.bg-modal-login').css('display', 'block');

        }
      });
    }

    function addTelaProduto() {
      $.ajax({
        url: '/addTelaProduto',
        type: 'post',
        success: function (data) {
          $('.modal-content-login').html(data);
          $('.modal-content-login').append(data.htmlresponse);
          $('.bg-modal-login').css('display', 'block');
          $('.bg-modal-login').css('position', 'fixed');
        }
      });
    }

    function addTelaCategoria() {
      $.ajax({
        url: '/addTelaCategoria',
        type: 'post',
        success: function (data) {
          $('.modal-content-login').html(data);
          $('.modal-content-login').append(data.htmlresponse);
          $('.bg-modal-login').css('display', 'block');
          $('.bg-modal-login').css('position', 'fixed');
        }
      });
    }

    function updateUser() {
      $.ajax({
        url: '/updateUser',
        type: 'post',
        data: $('.formLogin').serialize(),
        success: function (data) {
          alert(data.message)
        },
        error: function () {
          alert("Ocorreu erro na alteração")
        }
      });
    }

    function updateUserPass() {
      $.ajax({
        url: '/updateUserPass',
        type: 'post',
        data: $('.formLogin').serialize(),
        success: function (data) {
          alert(data.message)
        },
        error: function (data) {
          message = data.responseJSON
          alert(message.message)

        }
      });
    }

    function addEndereco() {
      $.ajax({
        url: '/addTelaEndereco',
        type: 'post',
        success: function (data) {
          $('.modal-content-login').html(data);
          $('.modal-content-login').append(data.htmlresponse);
          $('.bg-modal-login').css('display', 'block');
          $('.bg-modal-login').css('position', 'fixed');
        }
      });
    }

    function addEnderecoPerfil() {
      $.ajax({
        url: '/addTelaEnderecoPerfil',
        type: 'post',
        success: function (data) {
          $('.modal-content-login').html(data);
          $('.modal-content-login').append(data.htmlresponse);
          $('.bg-modal-login').css('display', 'block');
          $('.bg-modal-login').css('position', 'fixed');
        }
      });
    }

    function finalizarPedido() {
      if ($('input[type=radio][name=formaPagamento]:checked').attr('id')) {
        $.ajax({
          url: '/finalizarPedido',
          type: 'post',
          data: { idPagamento: $('input[type=radio][name=formaPagamento]:checked').attr('id') },
          success: function (data) {
            alert(data.message)
            document.location.href = "/";
          }
        });
      } else {
        alert("Selecione uma forma de pagamento!")
      }
    }

    function endereco() {
      $.ajax({
        url: '/endereco',
        type: 'post'
      });
    }

    function confirmPedido() {
      $.ajax({
        url: '/confirmPedido',
        type: 'post',
        data: { login: "login" },
        success: function (data) {
          if (data.htmlresponse) {
            $('.modal-content-login').html(data);
            $('.modal-content-login').append(data.htmlresponse);
            $('.bg-modal-login').css('display', 'block');
            $('.bg-modal-login').css('position', 'fixed');
          } else {

            $('.containerCarrinho').html(data);
            $('.containerCarrinho').append(data.htmlresponse);
          }
        },
        error: function (data) {
          data = data.responseJSON
          alert(data.message)
        }
      });
    }

    function backEndereco() {
      $.ajax({
        url: '/backEndereco',
        type: 'post',
        success: function (data) {


          $('.containerCarrinho').html(data);
          $('.containerCarrinho').append(data.htmlresponse);

        },
        error: function () {
          alert("Você não possui items no carrinho")
        }
      });
    }

    function confirmEndereco() {
      if ($('input[type=radio][name=endereco]:checked').attr('id')) {
        $.ajax({
          url: '/confirmEndereco',
          type: 'post',
          data: { id: $('input[type=radio][name=endereco]:checked').attr('id') },
          success: function (data) {
            if (data.htmlresponse) {
              $('.modal-content-login').html(data);
              $('.modal-content-login').append(data.htmlresponse);
              $('.bg-modal-login').css('display', 'block');
              $('.bg-modal-login').css('position', 'fixed');
            } else {

              $('.containerCarrinho').html(data);
              $('.containerCarrinho').append(data.htmlresponse);
            }
          },
          error: function () {
            alert("Problemas para confirmar o endereço")
          }
        });
      } else {
        alert("Selecione ao menos 1 endereço")
      }
    }

    function confirmEnderecoPerfil() {
      if ($('input[type=radio][name=endereco]:checked').attr('id')) {
        $.ajax({
          url: '/confirmEndereco',
          type: 'post',
          data: { id: $('input[type=radio][name=endereco]:checked').attr('id') },
          success: function (data) {
            alert("Endereço principal alterado!")
          },
          error: function () {
            alert("Problemas para confirmar o endereço")
          }
        });
      } else {
        alert("Selecione ao menos 1 endereço")
      }
    }

    function logout() {
      $.ajax({
        url: '/logout',
        type: 'post',
        success: function (data) {
          document.location.href = "/";
        }
      });
    }

    function SubForm() {
      $.ajax({
        url: '/logar',
        type: 'post',
        data: $('.formLogin').serialize(),
        success: function () {
          $('.success')[0].style.fontSize = "12px";
          $('.error').hide()
          $('.success').text("Sucesso ao logar")
          window.location.reload();

        },
        error: function (data) {
          data = data.responseJSON
          $('.error')[0].style.fontSize = "12px";
          $('.error').text(data.message)

        }
      });
    }

    function alterarConfiguracao() {
      $.ajax({
        url: '/alterarConfiguracoes',
        type: 'post',
        data: $('.formLogin').serialize(),
        success: function (data) {
          alert(data.message)
          window.location.reload();

        },
        error: function (data) {
          data = data.responseJSON
          $('.error')[0].style.fontSize = "12px";
          $('.error').text(data.message)

        }
      });
    }

    function formEndereco() {
      $.ajax({
        url: '/cadastroEndereco',
        type: 'post',
        data: $('.formLogin').serialize(),
        success: function (data) {
          $('.success')[0].style.fontSize = "12px";
          $('.error').hide()
          $('.success').text("Sucesso cadastrar o endereço")
          closePopLogin()
          $('.containerCarrinho').html(data);
          $('.containerCarrinho').append(data.htmlresponse);

        },
        error: function (data) {
          data = data.responseJSON
          $('.error')[0].style.fontSize = "12px";
          $('.error').text(data.message)
        }
      });
    }

    function formProduto() {
      var form_data = new FormData($('.formLogin')[0]);
      $.ajax({
        url: '/cadastroProduto',
        type: 'post',
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,
        success: function (data) {
          $('.success')[0].style.fontSize = "12px";
          $('.error').hide()
          $('.success').text("Sucesso cadastrar o produto")
          window.location.reload();

        },
        error: function (data) {
          data = data.responseJSON
          $('.error')[0].style.fontSize = "12px";
          $('.error').text(data.message)

        }
      });
    }

    function formCategoria() {
      var form_data = new FormData($('.formLogin')[0]);
      $.ajax({
        url: '/cadastroCategoria',
        type: 'post',
        data: $('.formLogin').serialize(),
        processData: false,
        success: function (data) {
          $('.success')[0].style.fontSize = "12px";
          $('.error').hide()
          $('.success').text("Cadastro efetuado com sucesso!")
          window.location.reload();

        },
        error: function (data) {
          data = data.responseJSON
          $('.error')[0].style.fontSize = "12px";
          $('.error').text(data.message)

        }
      });
    }

    function formUpdProduto() {
      var form_data = new FormData($('.formLogin')[0]);
      $.ajax({
        url: '/alterarProduto',
        type: 'post',
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,
        success: function (data) {
          $('.success')[0].style.fontSize = "12px";
          $('.error').hide()
          $('.success').text(data.message)
          window.location.reload();

        },
        error: function (data) {
          data = data.responseJSON
          $('.error')[0].style.fontSize = "12px";
          $('.error').text(data.message)

        }
      });
    }

    function formUpdCategoria() {
      $.ajax({
        url: '/alterarCategoria',
        type: 'post',
        data: $('.formLogin').serialize(),
        success: function (data) {
          $('.success')[0].style.fontSize = "12px";
          $('.error').hide()
          $('.success').text(data.message)
          window.location.reload();

        },
        error: function (data) {
          data = data.responseJSON
          $('.error')[0].style.fontSize = "12px";
          $('.error').text(data.message)

        }
      });
    }

    function formEnderecoPerfil() {
      $.ajax({
        url: '/cadastroEnderecoPerfil',
        type: 'post',
        data: $('.formLogin').serialize(),
        success: function (data) {
          window.location.reload();

        },
        error: function (data) {
          data = data.responseJSON
          $('.error')[0].style.fontSize = "12px";
          $('.error').text(data.message)

        }
      });
    }

    var timepicker = new TimePicker('time', {
      lang: 'en',
      theme: 'dark'
    });
    timepicker.on('change', function (evt) {

      var value = (evt.hour || '00') + ':' + (evt.minute || '00');
      evt.element.value = value;

    });

    function cadUser() {
      $.ajax({
        url: '/cadastroUser',
        type: 'post',
        data: $('.formLogin').serialize(),
        success: function () {
          $('.success')[0].style.fontSize = "12px";
          $('.error').hide()
          $('.success').text("Sucesso ao cadastrar")
          alert("Seja bem vindo(a)")
          window.location.reload();

        },
        error: function (data) {
          data = data.responseJSON
          $('.error')[0].style.fontSize = "12px";
          $('.error').text(data.message)

        }
      });
    }

    $('.formLogin').submit(function (e) {
      e.preventDefault();
      $.ajax({
        url: '/logar',
        type: 'post',
        data: $('.formLogin').serialize(),
        success: function () {
          // Whatever you want to do after the form is successfully submitted
        }
      });
    });

    function deleteProduto() {
      $.ajax({
        url: '/login',
        type: 'post',
        data: { login: "cadastro" },
        success: function (data) {
          $('.modal-content-login').html(data);
          $('.modal-content-login').append(data.htmlresponse);
        }
      });
    }

    function cadastrar() {
      $.ajax({
        url: '/login',
        type: 'post',
        data: { login: "cadastro" },
        success: function (data) {
          $('.modal-content-login').html(data);
          $('.modal-content-login').append(data.htmlresponse);
        }
      });
    }





  </script>
</head>

<body>
  <header class="cabecalho">
    <div class="cabecalhoItems">
      <a href="{{ url_for('raiz') }}"><img src="../static/favicon.png" alt=""></a>

      <p class="pEndereco">Avenida Rudge, 315 Barra Funda - São Paulo / SP</p>
      {% if request.cookies.get("login", "") %}
      <ul id="listMenuLogin">
        <li id="visible">
          <button class="btnLogin" style="cursor:pointer; position:relative; margin:0px"> Olá,
            {{request.cookies.get("nomeUser", "")}}</button>
          <ul class="list-categories">
            <li><a href="{{ url_for('perfil') }}"><i class="fas fa-user-cog"></i> Perfil</a></li>
            <hr class="line">
            <li><a href="{{ url_for('pedidos') }}"> <i class="far fa-file-alt"></i> Meus Pedidos</a></li>
            <hr class="line">
            <li><a href="{{ url_for('enderecoPerfil') }}"><i class="fas fa-map-marker-alt"></i> Endereço</a></li>
            <hr class="line">
            {% if request.cookies.get("tipo", "") == "administrador" %}
            <li><a href="{{ url_for('gerenciaPedidos') }}"> <i class="fas fa-eye"></i> </i> Gerencia Pedidos</a></li>
            <hr class="line">
            <li><a href="{{ url_for('gerenciaProduto') }}"> <i class="fas fa-tools"></i></i> Config. Produtos</a></li>
            <hr class="line">
            <li><a href="{{ url_for('gerenciaCategoria') }}"> <i class="fas fa-tools"></i></i> Config. Categorias</a>
            </li>
            <hr class="line">
            <li><a href="{{ url_for('configuracoesGerais') }}"> <i class="fas fa-cog"></i></i> Config. Gerais</a></li>
            <hr class="line">
            {% endif %}
            <li><a onclick="logout()"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
            <hr class="line">
          </ul>
        </li>
      </ul>

      {% else %}
      <button class="btnLogin" onclick="login()">Entrar</button>
      {% endif %}

      {% if carrinho %}
      <a href="{{ url_for('cart') }}" class="alertIcon"> <i class="fas fa-circle"></i></a>
      {% endif %}
      <a href="{{ url_for('cart') }}" class="cart"><i class="fas fa-shopping-cart"></i></a>
  </header>
  </div>
  <nav>
    <ul>
      <a href="{{ url_for('raiz') }}">
        <li><i class="fas fa-utensils"></i> Cardápio</li>
      </a>
      <!-- <a href="" onclick="userAction()">
        <li><i class="fas fa-star"></i> Avaliações</li>
      </a> -->
      <a href="{{ url_for('contato') }}">
        <li><i class="fas fa-phone-alt"></i> Contato</li>
      </a>
    </ul>
  </nav>

  <div class="bg-modal-login">
    <div class="modal-content-login">
      <div class="close" onclick="closePop()">+</div>
    </div>
  </div>
  {% block barStatus %}
  <section class="status">
    <div class="status-horas">
      {% if session['atividade'] == 0 %}
      <div class="icon-status">
        <i class="fas fa-circle fa-lg"></i>
      </div>

      <div class="status-desc">
        <p class="status-p">Fechado</p>
        <p>Horário das {{horario}}</p>
      </div>
      {% else %}
      <div class="icon-status" style="color: green;">
        <i class="fas fa-circle fa-lg"></i>
      </div>

      <div class="status-desc">
        <p class="status-p">Aberto</p>
        <p>Horário das {{horario}}</p>
      </div>
      {% endif %}
    </div>

    <div class="tempo-entrega">
      <div class="icon-tempo">
        <i class="far fa-clock fa-2x"></i>
      </div>
      <div class="tempo-desc">
        <p>Tempo de entrega</p>
        <p>{{config.tempoEntrega}}</p>
      </div>
    </div>

    <div class="forma-pgto">
      <div class="icon-pgto">
        <i class="fas fa-credit-card fa-2x"></i>
      </div>

      <div class="desc-pgto">
        <ul id="listFormPagamento">
          <li id="visible">
            <p style="position: inherit;">Forma de pagamento</p>
            <ul class="list-forma">
              <li><a href=""><i class="far fa-money-bill-alt"></i> Dinheiro</a></li>
              <hr class="line">
              <li><a href=""><i class="far fa-credit-card"></i> Cartão de créditos</a></li>
              <hr class="line">
              <li><a><i class="far fa-credit-card"></i> Cartão de débito</a></li>
              <hr class="line">
              <li><a href=""><i class="far fa-money-bill-alt"></i> PIX</a></li>
              <hr class="line">
              <li><a href=""><i class="fab fa-whatsapp"></i> WhatsApp Pay</a></li>
              <hr class="line">
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </section>

  {% endblock %}
  {% block conteudo %}{% endblock %}
  <footer>
    <h5>© Temakitech - Todos os direitos reservados</h5>
  </footer>
</body>

</html>