<div class="close" onclick="closePopLogin()">+</div>
<form class="formLogin" enctype=multipart/form-data method="post" action="/cadastroProduto"> 
  <h1>Cadastro Produto</h1> 
  <b><p class="error" style="color:red"></p></b>
  <b><p class="success" style="color:green"></p></b>
 
  <div class="enderecoBox">
    <p class=""> 
      <input id="email_login"  name="produto" required="required" type="text" placeholder="Produto" /> 
  </p>
    <p class="endereco" style="margin-left:5px;"> 
      <input id="email_login" class="enderecoInput" name="descricao" required="required" type="text" placeholder="Descrição" /> 
    </p>
     
  </div>

  <div class="enderecoBox">
    <p class="bairro"> 
      <input id="email_login" title="R$" class="bairroInput" name="categoria" required="required" type="number" placeholder="Categoria" /> 
    </p>
    <p> 
      <input id="email_login" name="complemento" required="required" type="text" placeholder="R$ 0.0" /> 
  </p>
  </div>

  <p class="estado"> 
    <input id="email_login" class="estadoInput" name="file" required="required" type="file" placeholder="Imagem" /> 
</p>

<p> 
  <input id="logar" type="submit" value="Cadastrar produto" action="SubForm()"  /> 
</p>

</form>