<div class="close" onclick="closePopLogin()">+</div>
<!-- <iframe name="dummyframe" id="dummyframe" style="display: none;" ></iframe> -->
<form class="formLogin" enctype=multipart/form-data method="post" action="javascript:formProduto()"> 
  <h1>Cadastro Produto</h1> 
  <b><p class="error" style="color:red"></p></b>
  <b><p class="success" style="color:green"></p></b>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
 
  <div class="enderecoBox">
    <p class=""> 
      <input id="email_login"  name="produto" required="required" type="text" placeholder="Produto" /> 
  </p>
    <p class="endereco" style="margin-left:5px;"> 
      <input id="email_login" class="enderecoInput" name="detalhe" required="required" type="text" placeholder="Descrição" /> 
    </p>
     
  </div>

  <div class="enderecoBox">
    <!-- <p class="bairro"> 
      <input id="email_login" title="R$" class="bairroInput" name="categoria" required="required" type="number" placeholder="Categoria" /> 
    </p> -->
    <select id="cars"  name="categoria">
      <option value="">Selecione a categoria</option>
      {% for categoria in categorias %}
      <option value="{{categoria['id']}}">{{categoria['categoria']}}</option>
      {% endfor %}
    </select>
    <p> 
      <input id="email_login" class="precoProduto" onchange="floatConvert()" name="preco" required="required" type="text" placeholder="R$ 0.00" /> 
  </p>

  </div>

  <p class="estado"> 
    <input id="email_login" class="estadoInput" name="file" required="required" type="file" placeholder="Imagem" /> 
</p>

<p> 
  <input id="logar" type="submit" value="Cadastrar produto" /> 
</p>

</form>