{% extends "base.html" %}
{% block titulo %}Temakitech{% endblock %}
{% block js %}

{% endblock %}

{% block conteudo %}

<div class="container">

  <div class="containerProduto">
    <h2 style="display: inline-block;">Gerenciamento de categorias</h2>
    <button onclick="addTelaCategoria()" class="btnAddCategoria"  ><i class="fas fa-plus "></i> Add Categoria </button>
    <table style="width:100%">
      <tr>
        <th>Categoria</th>
        <th>Ações</th>

      </tr>
      {% for categoria in categorias %}
      <tr>  
        <td>{{categoria['categoria']}}</td>
        <td>
           <a id="{{categoria['id']}}" class="btnUpdCategoria" style="cursor: pointer;"><i id="{{categoria['id']}}" style="color: orange;" class="fas fa-edit  fa-lg"></i></a> 
          <a id="{{categoria['id']}}" class="btnDelCategoria" style="cursor: pointer;"> <i id="{{categoria['id']}}" style="color: red;"  class="fas fa-minus-circle  fa-lg"></i></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>

{% endblock %}