{% extends "base.html" %}
{% block titulo %}Pedidos{% endblock %}
{% block js %}
{% endblock %}

{% block conteudo %}

<div class="container">
  <section class="containerPedidos">
    <H1> <i class="far fa-file-alt fa-2x" style="color:orange"></i> Meus pedidos</H1>
    <br>
    <h4>Acompanhe o seu pedido atual e veja o histórico de seus pedidos aqui :</h4>
    {% set count = namespace(value=0) %}
    {% for pedidos in AllPedidos %}
    
    {% if pedidos['id'] != count.value %}
    <div class="pedido">
      <div class="cabecalhoDetalhes">
        <div class="produtosPedido">
          <div class="cabecalhoPedidos">
            <b>Pedido nº{{pedidos['id']}}</b>
            <p>TEMAKITECH</p>
            <p>15/11/2021 20:40</p>
          </div>
          <div>
            <p> <b>Total</b> </p>
            <p> <b>R$ {{pedidos['valorTotal']}}</b> </p>
          </div>

          {% if pedidos['idStatus'] == 1 %}
          <button class="buttonStatus" style="background-color: orange;" onclick=""> <b> {{pedidos['status']}}</b> </button>
          {% elif pedidos['idStatus'] == 2  %}
          <button class="buttonStatus" style="background-color: rgb(52, 115, 151);" onclick=""> <b> {{pedidos['status']}}</b> </button>
          {% elif pedidos['idStatus'] == 3  %}
          <button class="buttonStatus" style="background-color: rgb(82, 86, 139);" onclick=""> <b> {{pedidos['status']}}</b> </button>
          {% elif pedidos['idStatus'] == 4  %}
          <button class="buttonStatus" style="background-color: green;"  onclick=""> <b> {{pedidos['status']}}</b> </button>
          {% else %}
          <button class="buttonStatus" style="background-color: red;" onclick=""> <b> {{pedidos['status']}}</b> </button>
          {% endif %}
           </div>

        <div id="{{pedidos['id']}}" class="conteudoDetalhe">
          <div class="produtosDetalhes">
            {% for auxPedido in AllPedidos %}
            {% if auxPedido['id'] == pedidos['id'] %}
            <div class="detalhesPedido">
              <p><b>{{auxPedido['quantidade']}}x {{auxPedido['nome']}}</b></p>
              <p><b>R$ {{auxPedido['preco']}}</b> </p>
              <p>Item</p>
              <p></p>
            </div>
            <hr>
            {% endif %}
            {% endfor %}
            
            <div class="detalhesPedido">
              <p>+ Taxa de entrega</p>
              {% if pedidos['taxaEntrega']%}
              <p>R$  {{pedidos['taxaEntrega']}} </p>
              {% else %}
              <p>R$ 0.00</p>
              {% endif %}
              <p><b>Total</b></p>
              <p> <b>R$ {{pedidos['valorTotal']}}</b> </p>
            </div>
          </div>
          <div class="detalhesEnderecoFpag">
            
            <p class="teste"> <b>Dados de Entrega</b> </p>
            <p class="teste">{{pedidos['endereco']}},{{pedidos['numero']}},{{pedidos['bairro']}},{{pedidos['estado']}},{{pedidos['complemento']}}</p>
            <br>
            <p class="teste"> <b>Forma de Pagamento</b> </p>
            <p class="teste">{{pedidos['formaPagamento']}}</p>

            
          </div>
        </div>
        <div class="BottomProdutos">
          <hr>
          <button id="{{pedidos['id']}}" class="buttonDetalhesPedido" onclick=""> Ver detalhes do pedido </button>
        </div>
      </div>
    </div>
    
    {% endif %}
    {% set count.value = pedidos['id'] %}
    {% endfor %}
</div>
</div>
</section>
</div>
{% endblock %}